<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Basic|Dosis:600|Sarabun|Secular+One|Slabo+27px|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.pipi {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
	font-size: 50px;
	font-family: 'Mochiy Pop P One', sans-serif;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
</style>
<body>
    </class>
    <div class="container">
        <div class="Music">
            <a href="https://soundcloud.com/softyshul/tracks">My Music</a>
            <ion-icon name="musical-notes-outline"></ion-icon>
        </div>
        <div class="Home">
            <a href="/about">My portolio</a>
            <ion-icon name="planet-outline"></ion-icon>
        </div>
        <div class="Contact">
            <ion-icon name="mail-unread-outline"></ion-icon>
        </div>
    <div class="container1">
        <nav>
            <div class="userDetails">
                <p class="pipi">Photography</p>
                   <h1>Here are some photo's I took during last summer. Never really had 
                    time nor did I have the same spark as I had once before.
                   </h1>
                   <h1>Winter's awful,
                    for camera equipment. So that's why.
                    Once the weather's going to warm up, expect my Portfolio to be updated</h1>
                <img class="pic1" src="/images/pic1.jpg" alt="profile picture">
                <img class="pic2" src="/images/pic2.jpg" alt="profile picture">
                <div class="catDetails">
                <img class="pic3" src="/images/pic3.jpg" alt="profile picture">
                <img class="pic4" src="/images/pic4.jpg" alt="profile picture">
            </nav>
        </div>
    </div>


    <script  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>